<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact Data</title>
    <!-- Include Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-2xl font-bold mb-4">contact Data</h2>
        <ul>
            <% contacts.forEach(contact=> { %>
                <li class="mb-4 bg-white shadow-md p-4 rounded-md">
                    <p><span class="font-bold">Name:</span>
                        <%= contact.first_name %>
                    </p>
                    <p><span class="font-bold">Email:</span>
                        <%= contact.last_name %>
                    </p>
                    <p><span class="font-bold">Message:</span>
                        <%= contact.email %>
                    </p>
                    <p><span class="font-bold">Message:</span>
                        <%= contact.message %>
                    </p>
                    <p><span class="font-bold">createdAt:</span>
                        <%= contact.createdAt %>
                    </p>
                    <p><span class="font-bold">updatedAt:</span>
                        <%= contact.updatedAt %>
                    </p>
                    <form action="/delete/<%= contact._id %>" method="POST">
                        <button type="submit"
                            class="mt-2 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">Delete</button>
                    </form>
                </li>
                <% }); %>
        </ul>
    </div>
</body>

</html>